
.console {
    width: 95%;
    height: 95%;
}

    .console select {
        margin-left: 0px;
        margin-bottom: 4px;
    }

.console-none div {
    height: 30px;
    margin: 2px;
    width: 180px;
    padding: 5px;
    cursor: pointer;
    text-align: left;
    float: left;
}

.console-none h3 {
    margin: 0px 2px 2px 28px;
    padding-top: 5px;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
}

.console-none div div {
    display: none;
}

.console-none-detail div {
    padding: 10px;
    clear: both;
    cursor: pointer;
}

.console-none-detail h3 {
    margin: 2px 2px 2px 28px;
    padding-top: 5px;
    font-size: 1em;
}

.console-none-detail div div {
    margin: 2px 2px 2px 28px;
    padding: 0px;
    clear: none;
}

.console-small div {
    height: 30px;
    margin: 2px;
    width: 180px;
    padding: 5px;
    cursor: pointer;
    text-align: left;
    float: left;
}

.console-small img {
    padding: 4px;
    float: left;
}

.console-small h3 {
    margin: 0px 2px 2px 28px;
    padding-top: 5px;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
}

.console-small div div {
    display: none;
}

.console-small-detail div {
    padding: 10px;
    clear: both;
    cursor: pointer;
}

.console-small-detail img {
    padding: 4px;
    float: left;
}

.console-small-detail h3 {
    margin: 2px 2px 2px 28px;
    padding: 0px;
    font-size: 1em;
}

.console-small-detail div div {
    margin: 2px 2px 2px 28px;
    padding: 0px;
    clear: none;
}

.console-large div {
    margin: 10px;
    width: 130px;
    height: 90px !important;
    padding: 0px;
    cursor: pointer;
    text-align: center;
    float: left;
}

.console-large img {
    float: none;
    padding: 10px 0px 0px 0px;
}

.console-large h3 {
    margin: 2px;
    width: 130px;
    text-align: center;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.4em;
    padding-top: 5px;
    font-weight: normal;
}

.console-large div div {
    display: none;
}

.console-large-detail div {
    margin: 0px;
    padding: 15px;
    clear: both;
    cursor: pointer;
}

.console-large-detail img {
    padding: 0px;
    float: left;
}

.console-large-detail h3 {
    margin: 2px 2px 2px 44px;
    padding: 0px;
    font-size: 1em;
}

.console-large-detail div div {
    margin: 2px 2px 2px 44px;
    padding: 0px;
    clear: none;
}

.console-mouseon {
    background-color: #ebedf0;
}
/*#f1f6f9*/

table.rgMasterTable {
}

    table.rgMasterTable .rgHeader {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: -moz-linear-gradient(center top, #fff 0%, #f0f2f1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-color: -moz-use-text-color #c9c9c9 #c9c9c9 -moz-use-text-color;
        border-image: none;
        border-style: none solid solid none;
        border-width: 0 1px 1px 0;
    }

    table.rgMasterTable .rgHeader {
        font-weight: bold;
        padding: 6px 12px;
        text-align: left;
    }

table.rgMasterTable {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 12px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c9c9c9;
    color: #333;
}

    table.rgMasterTable td {
        border-color: #fff;
        cursor: pointer;
        padding: 6px 12px;
        border-color: #ccc;
        border-style: solid;
        border-width: 0 0 1px;
        height: 21px;
    }

div.stepHeading {
    border-bottom: 1px solid #c0c0c0;
    font-size: 14px;
    color: #333;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

    div.stepHeading img {
        vertical-align: top;
    }

div.asposespacer {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 25px;
    padding-bottom: 12px;
    padding-top: 20px;
}